<div class="center column">
  <div class="title">
    <h1>
      {{
        (currentRole$ | async) === RoleType.Admin
          ? "Manage your Shipments"
          : "List of Shipments"
      }}
    </h1>
  </div>
  <div class="content">
    @if ((currentRole$ | async) === RoleType.Admin) {
      <div class="buttons">
        <button (click)="openModal('Create')">CREATE</button>
        <button (click)="openModal('Check')">CHECK</button>
      </div>
    } @else {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Origin</th>
            <th>Destination</th>
          </tr>
        </thead>

        <tbody>
          @for (shipment of shipmentsList$ | async; track shipment.id) {
            <tr (click)="openShipment(shipment.id)">
              <td>{{ shipment.id }}</td>
              <td>{{ shipment.origin }}</td>
              <td>{{ shipment.destination }}</td>
            </tr>
          } @empty {
            <tr>
              <td>No items</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>

@if (showCreateShipmentModal === true) {
  <app-modal-component title="New Shipment">
    <div class="modal-content">
      <div class="form-row">
        <label for="origin">Origin</label>
        <input type="text" id="origin" name="origin" required />
      </div>
      <div class="form-row">
        <label for="destination">Destination</label>
        <input type="text" id="destination" name="destination" required />
      </div>
    </div>
  </app-modal-component>
}

@if (showCheckShipmentModal === true) {
  <app-modal-component title="Search for Shipment">
    ShipmentId
  </app-modal-component>
}
