@if ((currentRole$ | async) === RoleType.Admin) {
  <div>
    <button>Create</button>
    <button>Check</button>
  </div>
} @else {
  <div>list</div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Origin</th>
        <th>Destination</th>
      </tr>
    </thead>

    <tbody>
      @for (shipment of shipmentsList$ | async; track shipment.id) {
        <tr (click)="openShipment(shipment.id)">
          <td>{{ shipment.id }}</td>
          <td>{{ shipment.origin }}</td>
          <td>{{ shipment.destination }}</td>
        </tr>
      } @empty {
        <tr>
          <td>No items</td>
        </tr>
      }
    </tbody>
  </table>
}
